// Контейнер каталога
.catalog-container {
    //padding-top: 0vh !important;
    .catalog__interface {
        display: flex;
        flex-direction: column;
        position: sticky;
        padding-top: 4vh;
        background-color: $background-color;
        top: 0;

        .catalog__header {
            flex-basis: 80px;
            font-size: 50px;

            @media #{$mobile} {
                font-size: 30px;
            }
        }

        .catalog__boxes {
            display: flex;
            @media screen and (max-width: 910px) {
                flex-direction: column;
            }

            .catalog__box {
                display: flex;
                flex-direction: column;
                font-size: 20px;
                font-size: larger;

                .catalog__item {
                    background-color: $background-color;
                    border: none;
                    color: $backgroundLine;
                    margin-right: 10px;
                    font-size: medium;

                    @media screen and (max-width: 910px) {
                        font-size: small;
                        max-height: 70%;
                    }
                    @media #{$mobile} {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                }
            }

            .catalog__btn {
                padding-left: 100px;
                @media screen and (max-width: 910px) {
                    padding-top: 20px;
                    padding-left: 0;
                    margin-bottom: 10px;
                }

                
            }
        }
    }

    // Контейнер контента
    .content {
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        margin-right: 15%;
        

        @media #{$mobile} {
            margin-right: 0;
        }

        .content__item {
            display: flex;
            flex-grow: 1;
            padding-top: 15px;
            margin-bottom: 15px;

            .content__poster {
                width: 100px;
                margin-right: 10px;

                .content__img {
                    width: 100%;
                }
            }

            .content__info {
                display: flex;
                flex-direction: column;
                .content__title {
                    text-decoration: none;
                    margin-bottom: 2vh;
                    color: $backgroundLine;
                    font-family: $font-titles;
                }
                .content__title:hover {
                    color: $color;
                }

                .content__original-title {
                    text-decoration: none;
                    margin-bottom: 2vh;
                    font-family: $font-titles;
                    color: $btnBackGroundHover;
                }
                .content__original-title:hover {
                    color: $color;
                }

                .content__rating {
                    padding-bottom: 0.5vh;
                }

                .content__year {
                    padding-bottom: 0.5vh;
                }
            }

            .content__btn {
                width: 30vw;
                height: 4vh;
                align-self: flex-end;

                @media #{$mobile} {
                    width: 100%;
                }
            }
        }
    }
}

// Кнопка лайка
.content__favorite {
    padding-left: 2vh;

    .content-button{
        background-color: rgba($color: $background-color, $alpha: 0);
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .like__icon {
        width: 24px;
        height: 24px;
        background-image: url("../images/likeEmpty30.svg");
        background-size: cover;
        margin-right: 4px;
        transition: background-image 0.9s ease-out;
    }

    .liked {
        background-image: url("../images/likeFilledPink.svg");
        background-size: cover;
        width: 24px;
        height: 24px;
        margin-right: 4px;
        transition: background-image 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    .like__icon:hover {
        background-image: url("../images/likeOnfocus.svg");
        background-size: cover;
        width: 24px;
        height: 24px;
        margin-right: 4px;
        transition: background-image 0.6s ease-in;
    }

    .liked:hover {
        background-image: url("../images/likeOnfocus.svg");
        background-size: cover;
        width: 24px;
        height: 24px;
        margin-right: 4px;
        filter: drop-shadow(6px -4px 0px #af464580);
        transition: background-image 0.6s ease-in;
    }
}
//космонавт
.catalog__image{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    .image__img{
        padding-top: 100px;
        margin-right: 100px;
    }
    @media screen and (max-width: 690px) {
        display: none;
    }
}