
.wrapper{
    min-height:100%;
    overflow:hidden;
  }
  
  ._container{
    max-width: 1230px;
    padding:0px 8px;
    margin: 0px auto;
    box-sizing: content-box;
    background-color: #e9b2b2;
  }
     header{
    position:absolute;
    width: 100%;
    left:0;
    top:0;
    z-index:30;
  }
    .header__container{
  display: flex;
  min-height: 70px;
  align-items: center;
  }
  @media screen and (max-width: 769px) {
  }
    .header__logo{
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
   font-family: $font-titles;
   color: $dark-frame;
     }
     @media screen and (max-width: 769px) {
     //order: ;
    }

     .header__nav{
      width: 40%;
      height: 25px;
      position: fixed;
      overflow: hidden;
     
           ul{ 
      display: flex;
      justify-content: space-between;
      align-content: center;
      width: 25%;
                    li{
          display:block;
          padding-left: 80%;
                          a{ text-decoration: none;
                }
    }}}
    @media screen and (max-width: 769px) {
     // top: 80.55px;
    }
  
    @media screen and (max-width: 700px) {
     // top: 73.6px;
    }
  
    @media screen and (max-width: 534px) {
    }
  
    @media screen and (max-width: 500px) {
    //  top: 70.4px;
    }
  
    @media screen and (max-width: 492px) {
    }
  
    @media screen and (max-width: 400px) {
     // top: 67.2px;
    }
  
  //  @media screen (max-width:769px){
  //    .header__nav{
  //     flex-direction:column;
  //     padding: 0; } } 
  .header__item{
      list-style: none;}
  
  .header__link{
      display: block;
      color: $dark-frame;
      font-family:$font-texts;
      font-weight: 600;
      text-align: center;
      width: 2 rem;
     left: 60px;
      margin-left: 90px;
        }

        @media screen and (max-width: 1089px) {
        //  padding: 15px;
        }
      
        @media screen and (max-width: 919px) {
        //  padding: 10px;
        //  font-size: 0.85rem;
        }
      
        @media screen and (max-width: 769px) {
       //   padding: 15px;
        }
      
    // @media  (max-width:769px){
    //   .heder__link{
    //     display:block;
    //     padding:30px 0;
    // }
  // }

  // .header__menu{
  //   list-style: none;
  //   margin:0px 5px 0px 130px;
  //   }
  //     .header_menu {
  //     padding: 15px 0px;
  //   }
  
  // .menu__list{
  // //flex-wrap:wrap;
  // display:flex;
  // padding:5px 0;
    
  // font-family:$font-texts;
  // color:$dark-frame
  // }
  // .menu__item {
  // margin: 0px 30px 0px 10px ;
  
  // }
  //   .menu__link{
  //        font-weight:800;
  //        text-decoration: none!important;
  //        }
  
    .header__search{
       width: 250px;
     height: 30px;
     position: absolute;
     top: 23px;
     left: 50%;
     margin-left: -65px;
     background-color: #ffccfd;
     color:$dark-frame;
     border-radius: 20px;
     font-size: 15px;
     font-family:$font-texts;
     font-weight: 600;
     }
    //  form {
    //   // position: relative;
    //   // width: 300px;
    //   margin: 0 auto;
    // }
    //  button {
    //   border: none;
    //   outline: none;
    //   border-radius: 3px;
    // }
    //  button {
    //   height: 26px;
    //   width: 26px;
    //   position: absolute;
    //   top: 8px;
    //   right: 8px;
    //   background: #FFFFFF;
    //   cursor: pointer;
    // }
    // button:before {
    //   content: "🔍";
    //   font-family: FontAwesome;
    //   color: #db3294;
    //   font-size: 20px;
    //   font-weight: bold;
    // }




  .user__img{
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 25px;
  left: 70%;
  margin-left: -80px;
   }
   .exit__img{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 25px;
    left: 85%;
    margin-left: -90px;
   }
   .exit__name{
    font-size: 12px;
    position: absolute;
     top: 28px;
    left: 88%;
    margin-left: -93px;
    font-family:$font-texts;
    color: $dark-frame;
   }
   .user__name {
     font-size: 12px;
     position: absolute;
      top: 28px;
      left: 73%;
      margin-left: -83px;
       font-family:$font-texts;
       color: $dark-frame;
    }

  // // .header__text {
  // //     width: 160px;
  //     height: 20px;
  //     position: absolute;
  //     top: 38px;
  //     left: 73%;
  //     margin-left: -80px;
  //     font-size: 15px;
  //     font-family:$font-texts;
  //   //  line-height: 30px;
  // }

  .cont__btn{
    position:absolute;
    left: 90%;
    bottom: 1rem;
  }
 
   .cont__btn{
   background-color: #ffccfd;
   font-family: $font-btns;
   border-radius: 4vh;
   border: solid black 1px;
   color: black;
   width: 10vh;
   height: 5vh; //поиграть с размерами для адаптива
   cursor: pointer
       }

.cont__btn:hover {
  background-color: $btnBackGroundHover;
  box-shadow: 5px 5px 5px $color;
}
 