.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 90%;
  padding-left: 3vw;
  padding-top: 2vh;
  margin-right: 3.5vh;
  font-size: larger;
}

.header__logo {
  .logo__item {
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    font-family: $font-titles;
    color: $backgroundLine;
    position: relative;
    z-index: 3;
    cursor: pointer;
  }
}

.header__links {
  display: flex;

  .link__item {
    text-decoration: none;
    color: $backgroundLine;
    font-family: $font-texts;
    font-weight: 600;
    text-align: center;
    width: 2rem;
    left: 60px;
    cursor: pointer;

  }
}

.header__search {
  display: flex;
  flex-direction: column;

  .search__input {
    width: 300px;
    height: 40px;
    top: 23px;
    left: 45%;
    background-color: #ffccfd;
    color: $backgroundLine;
    border-radius: 20px;
    font-size: large;
    font-family: $font-texts;
    font-weight: 600;

  }

  .search__list {
    max-width: 400px;
    color: $backgroundLine;
    list-style: none;
    position: absolute;
    top: 10%;
    background-color: #ffffffd3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    /* Чтобы список был поверх остальных элементов */
    display: none;

    .list__item {
      padding-top: 1%;
      padding-left: 3%;
      margin-left: 3%;
      margin-bottom: 2%;
      
      .list__link{
        text-decoration: none;
        cursor: pointer;
        font-family: $font-texts;
      }
    }
  }
}

.header__account {
  display: flex;
  justify-content: space-around;
  width: 30%;

  .account__personal {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .account__greeting {
      font-size: 12px;
      top: 28px;
      left: 73%;
      font-family: $font-texts;
      color: $backgroundLine;
      margin-right: 7px;
      font-size: large;

    }

    .account__avatar {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }

  .account__exit {
    display: flex;
    align-items: center;
    .exit__img {
      width: 2rem;
  height: 2rem;
  top: 25px;
  left: 85%;
  cursor: pointer;

    }

    .exit__text {
      
  top: 28px;
  left: 88%;
  font-family: $font-texts;
  color: $backgroundLine;

    }
  }

  .account__enter {
    .account__btn {background-color: #ffccfd;
      font-family: $font-btns;
      border-radius: 4vh;
      border: solid black 1px;
      color: black;
      // padding: 1% 2%;
       width: 10vh;
       height: 5vh; //поиграть с размерами для адаптива
      cursor: pointer;
    }
    .account__btn:hover {
      background-color: $btnBackGroundHover;
      box-shadow: 5px 5px 5px $color;
    }
    
  }
}