//Стили к Главной странице


.main-block {
    // max-width: 1377px;
    // width: 100%;
    padding-left: 3vw;
    padding-top: 4vh;
    margin: 0 3vw 3vh 3vw;
    min-height: 90vh;
    /* Подправила высоту, чтобы хэлер вместился */
    background: linear-gradient(135deg, #CA26FF 30%, #F4CAC0, #FFF3B0);
    border-radius: 4vh 4vh 40vh 4vh;

    //Главный wrapper
    .main-page__wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-top: 50px;
        justify-content: space-between;
        // justify-content: center;
        // max-width: 100%;
        // width: 100%;

        @media #{$tablet}{
            padding-top: 0px;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        @media #{$mobile} {
            // max-width: 60%;
            // width: 100%;
            padding-top: 0px;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        //Левый wrapper
        .left-wrapper {
            display: flex;
            flex-basis: 55%;
            // width: 40%;

            @media #{$tablet} {
                justify-content: center;
                margin-left: 0;
            }
        }
    }

    //стили к тексту с цитатой
    .main-page__subtext {
        @media #{desktop} {
            position: relative;
            margin-top: -12vh;
        }

        .subtext {
            font-family: $font-texts;
            font-size: 20px;
            color: $btnBackGround;

            @media #{$tablet} {
                font-size: 17px;
            }
    
            @media #{$mobile}{
                font-size: 14px;
            }
        }
    }
}

//Блок с информацией: заголовок, текст, кнопки
.block-info {

    // @media #{$tablet,$mobile} {
    //     padding-left: 0;
    // }

    .title {
        margin-bottom: 15px;
        letter-spacing: 0.12rem;
        font-family: $font-titles;
        font-weight: 400;
        font-size: 60px;
        color: $main-header;

        @media #{$tablet} {
            font-size: 50px;
        }

        @media #{$mobile}{
            font-size: 40px;
        }

    }

    &__subtitle {

        // margin-bottom: 40px;
        font-family: $font-btns;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 4px;
        color: $headers;
        width: 70%;

        // @media #{$mobile} {
        //     font-size: 27px;
        // }

        @media #{$tablet} {
            font-size: 25px;
        }

        @media #{$mobile}{
            font-size: 20px;
        }

    }

    &__text {

        max-width: 95%;
        width: 100%;
        font-size: 18px;
        line-height: 20px;
        font-family: $font-texts;
        font-weight: 200;
        color: $headers;
        padding-top: 40px;
        text-align: justify;
        margin-bottom: 20px;

        @media #{$tablet} {
            margin-bottom: 8%;
            font-size: 16px;
        }

        @media #{$mobile}{
            margin-bottom: 10%;
            font-size: 14px;
        }
    }
}

//правая часть страницы с постерами к фильмам, правый wrapper

.right-wrapper {
    margin-right: 10%;
    // width: 40%;
    // display: flex;
    // justify-content: center;



    // display: flex;
    // flex-grow: 1;
    // padding-left: 50px;

    // @media #{$tablet} {
    //     justify-content: center;
    //     margin-left: 0;
    //     padding-left: 0;
    // }

    // @media #{$mobile} {
    //     padding-left: 0;
    // }

    .block__posters {
        display: flex;
        // flex-direction: row;

        .upper-posters {
            margin-right: 30px;

        }

        .poster-info {
            height: 290px;

            @media #{$tablet} {
                height: 300px;
            }

            @media #{$mobile} {
                // height: 400px;
            }

            .film__img {
                width: 180px;
                height: 250px;
                margin-bottom: 15px;
                border-radius: 30px;

                @media #{$tablet} {
                    // width: 200px;
                    // height: 300px;
                }

                @media #{$mobile} {
                    width: 130px;
                    height: 200px;

                }

            }

            .film__title-wrapper {

                max-width: 12vw;
                min-height: 5vh;
                border-radius: 10px;

                .film__title {
                    display: block;
                    width: 200px;
                    border-radius: 5px;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18.5px;
                    color: $btnBackGround;
                    cursor: pointer;
                    text-decoration: none;
                    text-align: center;

                    @media #{$tablet} {
                        font-size: 15px;
                        width: 180px;
                    }

                    @media #{$mobile} {
                        font-size: 15px;
                        width: 120px;
                    }
                }

                .film__title:hover {
                    background-color: $color;
                    box-shadow: 5px 5px 5px $btnBackGround;

                }
            }
        }

    }
}

.poster-info:not(:last-child) {
    margin-bottom: 20px;

}


.main-page__subtext {
    background-color: #e7e5d74d;
    width: 50%;
    margin-top: 2%;
    padding: 2%;
    border: thick double rgb(94, 35, 150);
    border-radius: 20px;
    

}