.block-movie {
    &__title-wrapper {
        font-family: $font-titles;
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-left: 2vw;
        padding-bottom: 1vw;
    }

    &__rating-age-limit {
        max-width: 6vw;
        margin-right: 5vw;
    }

    &__rating-kinopoisk {
        font-family: $font-titles;
        width: fit-content;
        border: 2px solid black;
        color: black;
        padding: 3px;
        margin: 20px 20px 20px;
    }

    &__main-section {
        display: flex;
        flex-direction: column;
    }

    &__cotanier-wrapper {
        display: flex;
    }

    &__poster-wrapper {
        display: flex;
        flex-direction: column;
        column-gap: 15px;
    }

    &__poster {
        max-width: 250px;
        border-radius: 10%;
    }

    &__common-info-about {
        display: flex;
        flex-grow: 1;
    }

    &__info-wrapper
    {
    display: flex;
    margin: 0 20px 15px;
    }


&__infomation {
    display: flex;
    flex-direction: column;
    width: 100%;
}

&__item {

    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 50%;
}

&__info {
    display: flex;
    flex-direction: column;

}

&__subtitle {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-decoration-line: none;

}

&__photos-wrapper {
    display: flex;
    justify-content: end;
    gap: 20px;
}
}

.similar-movies{
    &__posters-contanier{
        display: flex;
        gap: 30px;
    }
}


.small-pict {
    max-width: 100px;
    border-radius: 10%;
}

.about {
    font-family: $font-titles;
}

.description-wrapper {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.no-visible{
    display: none;
}