@import "./templates";
@import "./fonts";






.error {
    box-shadow: 0 0 15px red;
}

.text {
    color: $color;
    font-size: 25px;
}

.location {
    display: flex;
    flex-direction: column;
    margin-top: 2%
}

input {
    @extend %square;
    padding: 1.5%;
}

.error-text{
    @extend %error-text;
}

.see{
    display: none;
}


.main-reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: center;


    &__title{
        font-size: 60px;
        color: #5E0E5A;
        font-family: $font-titles;
    }

    &__text{
        font-size: 25px;
        margin-bottom: 2%;
       font-family: $font-texts;
    }


    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 839px;
        width: 100%;
    }

    &__container-form{
        width: 100%;
        background-color: #330031;
        border-radius: 20px;
        box-shadow: 3px 3px 28px 15px rgba(0, 0, 0, 0.10);
    }

    &__info{
        display: flex;
        flex-direction: column;
        padding: 50px;
    }

    &__question{
        width: 100%;
        background-color: #330031;
        border-radius: 20px;
        box-shadow: 3px 3px 28px 15px rgba(0, 0, 0, 0.10);
        margin-top: 59px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    &__question-text{
        color: $color;
        font-size: 20px;
        margin-right: 20px;
    }

    &__question-btn{
        border: none;
        background-color: #330031;
        color: rgb(98, 98, 236);
        cursor: pointer;
    }

    &__ok {
        width: 100%;
        background-color: #330031;
        border-radius: 20px;
        box-shadow: 3px 3px 28px 15px rgba(0, 0, 0, 0.10);
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__ok-text{
        font-size: 25px;
        color: $color;
        font-family: $font-texts;
    }

    &__ok-link{
        color: $color;
        font-family: $font-texts;
    }

}

.form{
    &__btn-text{
        cursor: pointer;
    }

    &__btn-text{
        margin-top: 2%;
        padding: 1.5%;
        font-weight: 600;
        @extend %square;
    }

    &__btn-text:disabled{
        background-color: #6e356b;
        border: 1px solid rgb(168, 51, 51);
        color: #330031;
    }

    &__checkbox{
        margin-top: 2%;
    }

    
}









