@import "./templates";
@import "./fonts";
@import "./index";
@import "./catalog";
@import "./personalaccount";
@import "./page-movie";
@import "./registr";
@import "./reviews";
@import "./header";
@import "./modal";

