* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  background-color: black;
  font-family: "Fira Sans Condensed";
  border-radius: 4vh;
  border: solid black 1px;
  color: #ffccfd;
  width: 15vw;
  height: 7vh;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(85, 14, 73);
  box-shadow: 5px 5px 5px #ffccfd;
}

.container {
  display: flex;
  flex-direction: column;
  padding-left: 3vw;
  padding-top: 4vh;
  margin: 0 10vw 3vh 3vw;
  background-color: #990094;
  height: 100vh;
  color: #ffccfd;
  border-radius: 4vh 4vh 40vh 4vh;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), local("Poppins-ExtraLight"), url("../fonts/Poppins-ExtraLight.woff") format("woff"), url("../fonts/Poppins-ExtraLight.ttf") format("ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), local("Poppins-Light"), url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik Bold"), local("Rubik-Bold"), url("../fonts/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans Condensed";
  src: local("Fira Sans Condensed"), local("FiraSansCondensed-Medium"), url("../fonts/FiraSansCondensed-Medium.woff") format("woff"), url("../fonts/FiraSansCondensed-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
.cont {
  display: flex;
  justify-content: end;
}
.cont__btn {
  padding: 5px 10px;
}

.container_catalog {
  min-height: 100vh;
  height: 100%;
}
.container_catalog .container__header {
  flex-basis: 80px;
  font-size: 50px;
}
.container_catalog .container__list {
  display: flex;
}
.container_catalog .container__list .container__box {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-size: larger;
}
.container_catalog .container__list .container__box .container__item {
  background-color: #990094;
  border: none;
  color: #330031;
  margin-right: 10px;
  font-size: medium;
}
.container_catalog .container__list .container__box .container__item:hover {
  color: rgb(85, 14, 73);
}
.container_catalog .container__list .btn-wrapper {
  padding-left: 100px;
}
.container_catalog .container__content {
  display: flex;
  flex-direction: column;
  margin-right: 15%;
}
.container_catalog .container__content .content__item {
  display: flex;
  flex-grow: 1;
  padding-top: 30px;
}
.container_catalog .container__content .content__item .content__poster {
  width: 100px;
  margin-right: 10px;
}
.container_catalog .container__content .content__item .content__poster .poster__img {
  width: 100%;
}
.container_catalog .container__content .content__item .content__info .content__title {
  padding-bottom: 2vh;
  color: #330031;
}
.container_catalog .container__content .content__item .content__info .content__rating {
  padding-bottom: 0.5vh;
}
.container_catalog .container__content .content__item .content__info .content__year {
  padding-bottom: 0.5vh;
}

.filmFavContainer {
  padding-top: 1vh;
}
.filmFavContainer .likeBtn {
  background-color: #990094;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.filmFavContainer .likeIcon {
  width: 18px;
  height: 18px;
  background-image: url("../images/likeGray.png");
  background-size: cover;
  margin-right: 4px;
}
.filmFavContainer .liked {
  background-image: url("../images/likePink.png");
  background-size: cover;
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

body {
  overflow-x: hidden;
}

.lk__user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.lk__user .user__title {
  padding-bottom: 4vh;
  font-family: "Rubik";
}
.lk__list {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.lk__list .list__title .title__header {
  font-family: "Poppins";
}
.lk__list .list__title li {
  list-style-type: none;
  padding-top: 1vh;
}
.lk__list .list__title a {
  text-decoration: none;
}
.lk__list .list__movieList {
  padding-left: 10vw;
  font-family: "Rubik";
  padding-top: 1vh;
}
.lk__btn {
  margin-bottom: 50px;
}
.lk__modalList {
  margin: 100px auto;
  position: relative;
  border: none;
  border-radius: 2vh;
  width: 40vw;
  height: 35vh;
}
.lk__modalList .modalList__title {
  text-align: center;
  background-color: #330031;
  color: #ffccfd;
  font-family: "Rubik";
  padding: 2vh 0;
}
.lk__modalList .modalList__input {
  display: flex;
  flex-direction: column;
}
.lk__modalList .modalList__input .input__label {
  font-family: "Fira Sans Condensed";
  padding: 3vh 0;
  text-align: center;
}
.lk__modalList .modalList__input .input__text {
  width: 75%;
  margin: 0 auto;
  padding: 1vh 2vw;
  background-color: #D9D9D9;
  font-family: "Poppins";
  border: none;
  border-radius: 2vh;
}
.lk__modalList .modalList__btn {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2vh 0;
  width: 100%;
  border: none;
  background-color: #330031;
  color: #ffccfd;
  font-family: "Fira Sans Condensed";
}

.block-movie__title-wrapper {
  font-family: "Rubik";
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2vw;
  padding-bottom: 1vw;
}
.block-movie__ratingAgeLimit {
  max-width: 6vw;
  margin-right: 5vw;
}
.block-movie__ratingKinopoisk {
  font-family: "Rubik";
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid black;
  color: black;
  padding: 3px;
}
.block-movie__main-section {
  display: flex;
  flex-direction: column;
}
.block-movie__cotanier-wrapper {
  display: flex;
}
.block-movie__poster-wrapper {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.block-movie__poster {
  max-width: 250px;
  border-radius: 10%;
}
.block-movie__common-info-about {
  display: flex;
  flex-grow: 1;
}
.block-movie__info-wrapper {
  display: flex;
  margin: 0 20px 15px;
}
.block-movie__ratingKinopoisk {
  margin: 20px 20px 20px;
}
.block-movie__infomation {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.block-movie__item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  max-width: 50%;
}
.block-movie__info {
  display: flex;
  flex-direction: column;
}
.block-movie__subtitle {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-decoration-line: none;
}
.block-movie__photos-wrapper {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.smallPict {
  max-width: 100px;
  border-radius: 10%;
}

.about {
  font-family: "Rubik";
}

.description-wrapper {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.no-visible {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  background-color: black;
  font-family: "Fira Sans Condensed";
  border-radius: 4vh;
  border: solid black 1px;
  color: #ffccfd;
  width: 15vw;
  height: 7vh;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(85, 14, 73);
  box-shadow: 5px 5px 5px #ffccfd;
}

.container {
  display: flex;
  flex-direction: column;
  padding-left: 3vw;
  padding-top: 4vh;
  margin: 0 10vw 3vh 3vw;
  background-color: #990094;
  height: 100vh;
  color: #ffccfd;
  border-radius: 4vh 4vh 40vh 4vh;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), local("Poppins-ExtraLight"), url("../fonts/Poppins-ExtraLight.woff") format("woff"), url("../fonts/Poppins-ExtraLight.ttf") format("ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), local("Poppins-Light"), url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik Bold"), local("Rubik-Bold"), url("../fonts/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans Condensed";
  src: local("Fira Sans Condensed"), local("FiraSansCondensed-Medium"), url("../fonts/FiraSansCondensed-Medium.woff") format("woff"), url("../fonts/FiraSansCondensed-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
.error {
  box-shadow: 0 0 15px red;
}

.text {
  color: #ffccfd;
  font-size: 25px;
}

.location {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  border-radius: 20px;
}

.main-reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;
}
.main-reg__title {
  font-size: 60px;
  color: #5E0E5A;
  font-family: "Poppins";
  font-weight: 400;
}
.main-reg__text {
  font-size: 25px;
}
.main-reg__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 839px;
  width: 100%;
}
.main-reg__container-form {
  width: 100%;
  background-color: #330031;
  border-radius: 20px;
  box-shadow: 3px 3px 28px 15px rgba(0, 0, 0, 0.1);
}
.main-reg__info {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.main-reg__question {
  width: 100%;
  background-color: #330031;
  border-radius: 20px;
  box-shadow: 3px 3px 28px 15px rgba(0, 0, 0, 0.1);
  margin-top: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.main-reg__question-text {
  color: #ffccfd;
  font-size: 20px;
  margin-right: 20px;
}
.main-reg__question-btn {
  border: none;
  background-color: #330031;
  color: rgb(98, 98, 236);
  cursor: pointer;
}

.form__btn-text {
  cursor: pointer;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1250px;
  padding: 0px 10px;
  margin: 0px auto;
  box-sizing: content-box;
  background-color: #FFF;
}

header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

.header__logo {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  font-family: "Rubik";
  color: #330031;
}

.header__menu {
  margin: 0px 0px 0px 130px;
}

.menu {
  padding: 10px 0px;
}

.menu__list {
  display: flex;
  padding: 5px 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
  color: #330031;
}

.menu__item {
  margin: 0px 30px 0px 10px;
  list-style: none;
}

.menu__link {
  font-weight: 600;
}

.header__search {
  width: 250px;
  height: 25px;
  position: absolute;
  top: 35px;
  left: 50%;
  margin-left: -60px;
  background-color: #ffccfd;
  color: #FFF;
  border-radius: 20px;
  font-size: 15px;
  font-family: "Poppins";
}

.user__img {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 35px;
  left: 92%;
  margin-left: -90px;
}

.user__name {
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 90%;
  margin-left: -90px;
  font-family: "Poppins";
}

.header__text {
  width: 160px;
  height: 20px;
  position: absolute;
  top: 38px;
  left: 73%;
  margin-left: -80px;
  font-size: 15px;
  font-family: "Poppins";
}

.cont__btn {
  background-color: black;
  font-family: "Fira Sans Condensed";
  border-radius: 4vh;
  border: solid black 1px;
  color: #ffccfd;
  width: 10vh;
  height: 5vh;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(85, 14, 73);
  box-shadow: 5px 5px 5px #ffccfd;
}/*# sourceMappingURL=main.css.map */